.background {
  margin-top: 3rem;
  align-content: center;
  background-color: light-dark(#ffebb2, black);
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  color: light-dark(#e6757d, #ffebb2);
}
