/* CartItem.module.css */
.carCtn {
  border-bottom: 1px solid black;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0rem 0rem 0rem 2rem;
  width: 30rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.carCtn img {
  width: auto;
  height: 8rem;
}

.textCtn {
  margin-left: 2rem;
  align-content: center;
  width: 40rem;
}

.textCtn h1 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
.textCtn h2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 0.6rem;
}
.textCtn h3 {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 0.8rem;
}
.textCtn h4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.priceText {
  font-weight: 800;
}

.buttonCtn {
  text-align: right;
  margin-top: -2rem;
}
.buttonRemove {
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 10px;
  border: 0 solid orange;
  background-color: orange;
  margin: 0;
}
